.bg-gradient-custom {
    background: linear-gradient(135deg, #152D31 0%, #20444A 46%, #2A575E 100%);
}

.bg-gradient-header {
    background: linear-gradient(155deg, #142C30 0%, #4EA1AD 100%);
}

.bg-gradient-footer {
    background: linear-gradient(135deg, #142C30 0%, #2A575E 100%);
}

.bg-gradient-button {
    background: linear-gradient(135deg, #FDC02C 0%, #ED5C38 100%);
}

.team-card {
    background-color: #343a40;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}

.team-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.carousel-item {
    display: flex;
    justify-content: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #f76c5e;
    border-radius: 50%;
}
